<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.okolabo.cordova.sensor"
    version="0.0.1">
    <name>Sensor</name>
    <description>Cordova Sensor Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,sensor,proximity</keywords>
    <repo>https://github.com/patorash/cordova-plugin-sensor.git</repo>
    <issue>https://github.com/patorash/cordova-plugin-sensor/issues</issue>

    <js-module src="www/sensor.js" name="sensor">
        <clobbers target="sensor" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Sensor" >
                <param name="android-package" value="com.okolabo.cordova.sensor.Sensor"/>
            </feature>
        </config-file>
        <source-file src="src/android/Sensor.java" target-dir="src/com/okolabo/cordova/sensor" />
    </platform>
</plugin>
